{
  "quoteProps": "consistent",
  "singleQuote": true,
  "bracketSameLine": true,
  "trailingComma": "none",
  "vueIndentScriptAndStyle": true,
  "pugFramework": "vue",
  "pugSingleQuote": false,
  "pugWrapAttributesThreshold": 1,
  "pugSingleFileComponentIndentation": true,
  "plugins": ["./node_modules/@prettier/plugin-pug"]
}
